<title>
			Warranty details for <%= @serial %>
		</title>
	<body>
		<p>
			Serial number: <%= @serial %><br>
			Product description: <%= @product %><br>
			Purchase date: <%= @purchase %><br>
			Coverage end date: <%= @coverage %><br>
		</p>
	</body>
